* {
    padding:0;
    margin: 0;


}

a {
    text-decoration: none;
    cursor: pointer;
}

a :hover {
    color: #0d6efd;
}


h3 {
   color:  rgb(94, 21, 243);


}

body {
    /*background-color: #070efc;*/
    background-color: rgb(7, 14,28);
   


}

.nav-link {
    color: white;
    display: inline;
    align-items: baseline;
}

header {

        border-bottom: 1px solid grey;
}

footer{

    border-top: 1px solid grey;
   
}

header i {
    margin-top: 10px;
    margin-right: -2px;
}

.texto p i {
    padding-left: 5px;
}

.acesso {

        padding: 5px;
        margin-left: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction:column;
        text-align: center;

      
}
/* quem sou */

.quemsou-container{
    display: flex;
    justify-content: center;
    text-align: justify;
    margin:auto;
    max-width: 1050px;
    width: 100%;
    align-items: baseline;
}



.flex {

    flex: auto;
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;

}

.responsivo {
    display: none;


}

.henrique-photo img{
    margin: 10px;
    padding: 25px;
    border-radius: 400px;
    width: 300px;
    height: 400px;

}

.henrique-photo-menor{
    display: none;
    

}







/*teste grid*/
/*
.grid-quem-sou-eu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2px;
    grid-gap: 2px;
  }
  */

  /*Teste GRID*/
.Habilidades {
    
    display: flex;
  flex-direction:row;
  justify-content: center;
  

  
  

}

/* divisão habilidades*/

.flexitem {

    flex: auto;
    color: white;
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;

}

.flexitem img{

    margin-right: 3px;

}

.flexitem i{

    margin-right: 3px;

}

/* divisão projetos*/


.ProjetosContainer {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1100px;
    width: 100%;
    margin: auto;
    gap: 30px;


}

.ProjetoFilho {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(235 240 251 / 12%);
    border-color: rgb(77 138 240 / 50%);
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 20px;
    width: 500px;
    
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -0.2rem;
    color: white;
}

.corpo {
    font-size: 1.6rem;
    color: rgb(235 240 251 / 85%);
    margin: 20px 0;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.6rem;
    gap: 8px;
    color: white;
}

/*divisão contatos*/

.container-contato-conteudo h3{
    color: white;
}

.container-contato-conteudo {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;

}

.container-contato-conteudo article {
    flex: 1;
    margin-top: -50px;
  
}

.normal {

         margin-top: 15px;
        display: flex;
}

.alinhando {text-align: center;}

.margin {
    margin-bottom: 35px;
}

@media (max-width: 1000px) {

    .head {    
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .container-contato-conteudo {
        display: flex;
        gap: 0px;

    }

    aside {
        display: none;
    }

    .responsivo {
        display: contents;
        
    }

    .wrap {
        
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: 80px;
    }

    .henrique-photo-menor{

        display: contents;
        
    }

    .henrique-photo>img{
        display: none;

    }


    .margin {
        margin-bottom: 55px;
    }
    

}

@media (max-width: 1200px){

    

    .ajustando{
        display: flex;
        margin-top: 65px;
        text-align: left;
        align-items: flex-start;

    }
    .alinhando {

        text-align: left;

    }

    .quemsou-container {flex-wrap: wrap;}

}
